[2018-03-23 01:32] TKsM151 opened #1 "Setup CI/CD using Jenkins on AWS Cluster"

[2018-03-23 04:22] psineur opened #6 "Setup DB cluster/replicaset with Backup with Prod/Dev(s) DBs and Tools"
IMO can be done like this, would be happy to learn that I'm wrong by someone who takes this task and executes the crap out of it! 🏆

- [x] Setup single replicaset (or whatever name is for Postgres) with multiple DBs: Dev, Staging, Prod.
- [x] Dev DB needs barely enough protections/permissions so one dev doesn't screw other over.
- [x] Setup backup for whole replicaset
- [ ] Optionally: DevDB for e

[2018-03-23 04:31] psineur commented on #6
https://s3-backups.readthedocs.io/en/latest/

[2018-03-23 04:48] psineur opened #8 "Letsencrypt, NGINX & Symfony and Docker"
Probably should be broken apart into few different issues, but here's the deal:

I have docker container based on nginx, that has auto-update letsencrypt cert.

This link has simple symfony app config for nginx:
https://www.nginx.com/resources/wiki/start/topics/recipes/symfony/

Since we're currently evaluating AWS vs custom rackspace - having our infra in docker may help with migration.

[2018-03-23 04:58] psineur commented on #6
This is kinda semi-blocked by us making a choice in our first hosting

[2018-03-23 05:04] psineur opened #9 "Choose first hosting & Tech and stick to it until MVP launch"
We need to decide this fast.

My vote:
 * AWS is OK for us for now
 * 1 or 2 frontend boxes
 * minimal replicaset for PGSQL in 3 different zones for simple reliability
 * daily DB backups to 1 or 2 s3 buckets
 * no docker for now, few or one repos.
 * AWS organization with few guys who have experience in devops / AWS with access.
 * non-tech higher up mods with access to AWS in case all techies go

[2018-03-23 05:09] psineur opened #10 "LLC / NonProfit Org to start registering things to"
Blocks #9 - we probably need to have this org thing figured out before creating AWS organization.
Otherwise, I can make it myself.

@nautbot is working on all things legal, assigned.

[2018-03-23 05:10] psineur opened #11 "Add a couple of content pages for Privacy Policy, TOS, etc with links in the footer area"
- [x] assign to UKyank
- [ ] prepare all legal materials in any format
- [x] modify templates/code with these materials

[2018-03-23 05:16] psineur commented on #8
Not started this yet, but TBH it's probably what I should do first

[2018-03-23 05:18] psineur opened #12 "Deploy prod - pre-launch just dev-ops thing"
This is basically that we need to figure out:
 * how we store configuration (not in public repo lol)
 * what boxes and where
 * docker or no docker (I vote no docker, since it's PITA to develop code inside container)
* ~~Configure optional auto-deploy to web server as part of Jenkins build~~

[2018-03-23 05:19] psineur commented on #12
This isn't really blocked by #10 and kinda runs in parallel with #9 - we just need to make sure shit is compatible. So no AWS-only tools or services, as manual and close to bare metal as possible

[2018-03-23 05:24] psineur opened #13 "Choose main domain"
Comment with domain name THAT YOU ALREADY SECURED, let people vote with thumbs up.

[2018-03-23 05:25] psineur commented on #13
gundeals.io

[2018-03-23 05:33] psineur commented on #11
Moved from Task-Board for comments/discussion/assignment etc.

Originally created by @DEVxALMIGHTY assigned to DiscordUser: UKyank - please re-assign once we have the github name

[2018-03-23 05:39] psineur opened #14 "User Story: Flair"
1. Add ability to add flair when creating a submission.
2. Add ability to quick-click from popular flairs

This is Multi-Story, Multi-Feature Issue.

MVP can be something like:
1. Support Flair in Submissions Table in DB
2. Support List-of-Flairs in DB for each Forum
3. Support admin/mod controllers of the forum to add / remove / edit List-of-Flairs.
4. UI for selecting flair when posting submissi

[2018-03-23 05:41] psineur commented on #14
Needs 2 Symfony Devs, Real Review, maybe even pair programming.

If you had experience with HackLang/PHP - please volunteer to be a Symfony dev. We're gonna make this thing work.

[2018-03-23 05:41] psineur opened #15 "Install "embeddable build status plugin" for jenkins"
https://wiki.jenkins.io/display/JENKINS/Embeddable+Build+Status+Plugin

[2018-03-23 05:45] psineur commented on #15
@DEVxALMIGHTY is our CI/CD God.
Almighty, feel free to break this one into as many as you want and assign different milestones.
It's your thing

[2018-03-23 05:46] psineur commented on #12
Coupled with #10 and #6 (although 6 can be completed as just set of instructions / scripts to make backup work, with DB url configurable from ENV variables/etc)

[2018-03-23 05:47] psineur commented on #8
Blocks #12 Deploy Prod

[2018-03-23 05:49] psineur commented on #1
#15 "Build Status Label" is part of this.

[2018-03-23 05:54] psineur opened #16 "Implement Nautbot functionality"
* dealer post limits
* transparent user bans
* deeper blacklisting

https://github.com/nautbot/nautbot

IMO:
1. This is ver.3 priority (Convenience and Improvements)
2. Should've implemented using POST-Controllers Hooks (even if we will implement such thing as a hook ourselves - I would like to see all afterSave-like stuff live in its own directory and being enabled/disabled by some config thing,

[2018-03-23 05:57] psineur commented on #16
@nautbot we would need pseudo-code or even higher level explanation what nautbot was doing.

If some of it's features are more/less important than others - please break this down into multiple issues, update milestones and Task-Board accordingly.

If you don't want/cant implement this technically yourself - just provide as much info as possible in issue(s) and un-assign yourself. So people can gra

[2018-03-23 06:00] psineur commented on #1
I'm combining all Jenkins tasks/cards into this one, to make it look simpler

[2018-03-23 06:04] psineur commented on #15
Merged in to #1, closed

[2018-03-23 06:04] #15 closed

[2018-03-23 06:33] psineur opened #17 "Analytics"
We don't want to measure everything or dig deep into heatmaps, etc.
But IMO we want the number of forum views / unique visitors/ DAU/MAU from Day One.

I think this could be pretty easily done with Google Analytics and TrackingID coming from Config/Env.

For actual implementation - we can just modify templates for posts and forums and provide forum name / submission url as a param to event / page-

[2018-03-23 06:49] psineur commented on #9
Assigning to @nautbot  for mod decision on AWS vs racks you guys talked about.
Please re-assign to me after. AWS will allow us to move faster and offer more stability IMO - since many devops aspects are automated by the platform.

[2018-03-23 06:51] psineur commented on #17
This will be upforgrabs for at least few days - this task is great opportunity even for students / almost complete noobs to help.
Mention @psineur for codereview.

If no one picks this up - I will take it after main devops/organization issues are worked on and pretty much almost before MVP release.

[2018-03-23 06:55] psineur commented on #6
I haven't really had much experience with PostgreSQL, blame @AlexeyLang lol (hey look we're messing with Symfony, where's Vanya? =) ).

Would prefer actual DBA work on this. Please assign to yourself if you volunteer.

[2018-03-23 07:15] psineur commented on #6
Updated, now it's more of an everything DB before MVP task.

[2018-03-23 12:07] psineur commented on #11
huh, github doesn't allow me to assign this to @UKyank yet, maybe need to confirm email?

[2018-03-23 12:56] ukyank commented on #13
Rgundeals.com

[2018-03-23 12:56] ukyank commented on #13
therealgundeals.com

[2018-03-23 13:59] jstretch85 commented on #12
GitHub's individual developer plan is only $7/mo. Would that work? Could just take the repo private.

[2018-03-23 15:04] psineur commented on #8
OK, it's a steaming pile of crap, but https://gundeals.io/index.php is served through nginx->php-fpm->symfony with https cert from letsencrypt

I had to add php fpm
`
  sudo apt-get install -y php-fpm php-cgi
  sudo service php7.2-fpm start
`

/etc/nginx/sites-available/default:

`

        server {
            set $website_host "gundeals.io";
            set $website_root "/home/ubuntu/PostPostmi

[2018-03-23 15:13] psineur commented on #12
@jstretch85 totally would work

[2018-03-23 17:05] nautbot opened #19 "Nautbot - Vendor Post Limit Enforcement"
Post limit enforcement worked something like this:

- All vendors were assigned a "dealer" CSS flair, which made their visible flair on the sub and flagged them for Nautbot.

- Nautbot continuously scanned new posts to gundeals, recording username, user flair, url, etc.

- When a post by a user with "dealer" flair was found, Nautbot would compare the post's timestamp with the user's previous post.

[2018-03-23 17:27] nautbot opened #20 "Nautbot - Deep Blacklisting"
In order to better enforce domain blacklists, Nautbot was doing the following:

- Two blacklists were maintained in Nautbot's config: "shallow" and "deep"

  - "Shallow" list consisted of domains for generic image hosts (imgur, i.redd.it) and things like ebay, google, etc., basically any domain that could also be used in the construction of the destination website.

  - "Deep" list consisted of do

[2018-03-23 17:54] nautbot opened #21 "Nautbot - Transparent User Moderation/Bans"
On the Reddit/PRAW side, this was pretty simple:

- Nautbot continuously scanned new comments looking for trigger phrases, e.g. "nautbot ban", "nautbot ban # reason", "bye felicia", etc.

- Moderator could reply to a comment with trigger phrase, which Nautbot would pick up;

- Nautbot would then ban the user, and then reply to the mod with a public message that X user was banned.

This functionali

[2018-03-23 17:55] #16 closed

[2018-03-23 19:40] NathanDeckinga commented on #6
This might need to be assigned to me.  But I think this is a smaller thing than described.  If the DDL is going to be controlled by Symfony (the application), then really all we need to do on a database side is create the DB and set up a couple of users with appropriate permissions.  And if it is AWS, then either vanilla RDS or Aurora RDS (Postgres either way) makes this a matter of a couple of mi

[2018-03-23 20:37] psineur commented on #6
@NathanDeckinga

How should we store secrets and forward them to APP box(es)?

[2018-03-23 20:42] psineur commented on #11
Touched in #22 and #23 - tracking...
I believe 3rd point in OP in this issue can be checked.

@UKyank to update.
BTW since were storing in wiki - we can save in this GitHub projects wiki the pages and close this issue.

Then when we launch prod - we just re-create the pages.

[2018-03-23 20:44] psineur commented on #12
Add “copy legal pages from GitHub wiki to PM wiki once prod dB is established”.

[2018-03-23 21:01] NathanDeckinga commented on #6
I think the only secrets that will be needed are the passwords and we could go with a password vault for that (simplest solution).  I'm not sure how the app will need to store that internally, but we could go with some AWS credential storage, but that ties us closer to AWS than we probably want to be.

[2018-03-23 21:50] psineur commented on #6
This is awesome write-up @NathanDeckinga Thank You!
I'll ask in security group about what password vault we want to use for secrets.

[2018-03-23 22:01] psineur commented on #17
@TKsM151 started this in #24

We still need to needle-through the 'ga-1234-id' string from env->app->twig.

P.S. You can mention issues in commits with #24 as well - then they will appear in the log of the issue.
Something like

     git commit -m "Finish google analytics. Closes #17"

will appear here and close the issue when merged.

[2018-03-23 23:39] psineur commented on #6
After looking at vault, SSM and some other stuff - I'm seriously considering simply starting with  AWS instancedata:

[code]

Pros of SSM or Vault:
 - secrets are encrypted
 - secrets can be rotated and other cool mature-prod stuff can be done with it
Cons:
 - someone with access to token and www-box still will be able to retrieve the secret
 - we don't have that many secrets / config strings real

[2018-03-24 04:14] psineur opened #26 "WIP: Micro Box with Access to RDS"
Running:

[code]

[2018-03-24 04:20] psineur commented on #26
composer or something is broken - possibly didn't purge old version of php and apache correctly. will try to re-use existing AMI just with smaller disk instead

[2018-03-24 04:20] #26 closed

[2018-03-24 04:42] psineur commented on #6
OK, I have RDS on my AWS account working with @nautbot 's devbox through VPC peer connection.

[2018-03-24 05:08] psineur commented on #6
A Record set propageted to my ISP, post works, lives in new RDS:

https://gundeals.io/f/toxic_masculinity/1/this-is-micro-box-that-is-working-against-new-rds-now

[2018-03-24 05:15] psineur commented on #6
@NathanDeckinga TKsM and DEVxALMIGHTY have access to this box now, use them if I'm not available.

[2018-03-24 05:24] 12462940548 commented on #13
infringethis.com
Not that we need to use it for gundeals but it’s in our portfolio for other purposes.

[2018-03-24 05:39] 12462940548 commented on #8
I have some tweaks to make to nginx, what’s the best way for us to do that? I didn’t notice the configuration anywhere obvious.

[2018-03-24 14:25] nationwide13 commented on #21
This doesn't seem to difficult.

On the comment submit controller we check to see if the comment matches a set regex, and if it dies and the user is an admin, we create a second comment and perform the ban.

[2018-03-24 14:33] nationwide13 commented on #19
Is there anything else we want to provide vendors with that's different from normal users? (Besides visual)

We need to determine a way to flag users as vendors (possibly similar to admin) and then we can send a message in the post submit controller.

Would you want to explore providing a warning to vendors?

"Warning: this is your second submission in less than 166 hours. As a vendor, this action

[2018-03-24 14:42] nationwide13 commented on #19
That'd be the goal. I haven't explored what postmill provides for a modmail replacement yet, but we'd create a message and send it to the mods

[2018-03-24 15:20] zoidbergjesus commented on #17
Happy to help out with this one. Analytics/Data Engineering in my wheelhouse

[2018-03-24 15:36] DEVxALMIGHTY commented on #20
Collected more details on this feature from @nautbot

The below message was sent to forum moderators and each moderator could comment - similar to a group chat. This is referred to as "_modmail_". For further clarification, here is how this modmail looked on Reddit gundeals.

![image](https://user-images.githubusercontent.com/37675911/37865760-2d1dc76c-2f4f-11e8-939a-fc9c4dd8e971.png)

This is a f

[2018-03-24 17:20] nationwide13 opened #27 "Create Admin Only Forums"
As a replacement for mod mail for nautbot functions

https://github.com/TheRealGD/therealgd/issues/19
https://github.com/TheRealGD/therealgd/issues/20
https://github.com/TheRealGD/therealgd/issues/21

[2018-03-24 17:40] DEVxALMIGHTY opened #28 "Load 5K posts to DB to observe DB & Postmill framework scaling"
@nautbot Has latest 5K gundeals posts generated from @everlasted web scraper which pulled from the gundeals twitter bot.

This data (along with posts pulled using reddit bot "nautbot") needs to be put into database used by the Digital Ocean DEV server.

This will allow us to see how the Postmill framework will scale with a large number of posts using authentic data - "fail fast" & all that.

[2018-03-24 18:00] DEVxALMIGHTY opened #29 "Unit test execution @ Jenkins"
Conduct automated tests as part of Jenkins build. There are tests written as part of Postmill framework in /tests directory.

To start, conduct these unit tests on [this](http://107.23.241.185:8080/job/original-postmill-fork/) build which builds the original postmill fork.

[2018-03-24 18:18] DEVxALMIGHTY commented on #12
Added "Configure optional auto-deploy to web server as part of Jenkins build". If this doesn't belong here, lmk.

[2018-03-24 18:18] DEVxALMIGHTY commented on #1
moving the following tasks to separate issues as they are out of scope here.

1. Automated tests. There are tests written as part of Postmill framework --> #29
2. Configure optional auto-deploy to web server as part of Jenkins build

I'm closing this task since its completed.

[2018-03-24 18:23] DEVxALMIGHTY opened #30 "Discuss how/where to store release artifacts."
How do we manage release artifacts ? Its critical to have a structured method for managing all versions of release artifacts.

I've used Artifactory in the past with Jenkins where some arbitrary content is published after build. Artifactory also has an extensive REST api in case we want to do things with the artifact after it is published such as deploy.

[2018-03-24 19:31] TKsM151 commented on #28
UPDATE: @everlasted is our savior on this one, he figured out a way to post them in, and wrote a quick script. we are just waiting on consolodated data for the complete set. Plan is to create a generic account and and post them all in from the generic account for the initial load.

[2018-03-24 21:00] psineur commented on #8
@12462940548
You can throw it on anywhere in this repo.

Like infra/nginx or whatnot

[2018-03-25 01:13] nautbot opened #31 "Restrict Forum Creation"
Forum creation should be restricted to an admin-only function.

[2018-03-25 02:33] DEVxALMIGHTY commented on #29
Will install [phpunit](https://phpunit.de/index.html) on Jenkins server.

[2018-03-25 03:07] psineur commented on #31
Oops, looks like @TKsM151 is on it.
TK, unassign yourself and add "good first issue" and "help wanted" if you want newcomers to work on this instead.

Newcomers (if I invited you to this repo on reddit - it means YOU) - comment that you're working on it and provide a PR from your fork.

Thank You!

[2018-03-25 03:10] psineur commented on #30
Export filesystem to zip? Or at least critical part of it with paths white/black-listing?

[2018-03-25 03:21] psineur opened #32 "Session:gc crash"
Should be fixed with

[code]

until we prepare a script that is being run on devbox setup / server update.

[2018-03-25 03:29] psineur commented on #29
Look into how tests are running fixtures - depending on setup running tests might nuke the DB. (That's how fixtures in our ORM are by DEFAULT)

I haven't looked in that yet, but lets just be careful in case you connect to dev

[2018-03-25 04:37] DEVxALMIGHTY commented on #29
@psineur Right.

I've had a look over the test cases. To start, I will execute *Test.php where there are no DB transactions. Then afterwards, look into the others and configure task to have a test DB stood up.

[2018-03-25 05:19] DEVxALMIGHTY commented on #30
Sure that could work for our purposes.

I'll close this issue.

[2018-03-25 05:19] #30 closed

[2018-03-25 05:23] DEVxALMIGHTY opened #33 "Put proofread legal docs on site"
[Terms of Service.docx](https://github.com/TheRealGD/therealgd/files/1845038/Terms.of.Service.docx)
[Privacy Policy.docx](https://github.com/TheRealGD/therealgd/files/1845039/Privacy.Policy.docx)
[Copyright Notice.docx](https://github.com/TheRealGD/therealgd/files/1845040/Copyright.Notice.docx)
[Use Policy.docx](https://github.com/TheRealGD/therealgd/files/1845041/Use.Policy.docx)

[2018-03-25 05:56] psineur commented on #29
phpunit.xml.dist allows overwriting DB creds:

<?xml version="1.0" charset="utf-8" ?>
<phpunit>
    <php>

        <env name="DATABASE_URL" value="mysql://USERNAME:PASSWORD@127.0.0.1/DB_NAME" />
    </php>

</phpunit>

I guess we can point it to local running postgres for tests

[2018-03-25 05:59] psineur opened #34 "Load test Aurora with fixtures"
WIP, blocks #12

[2018-03-25 05:59] psineur commented on #9
and so it is! AWS
We will figure out Aurora vs t2.something x 2/3 in few days after load testing db. - Issue #34

Closed

[2018-03-25 05:59] #9 closed

[2018-03-25 06:14] TKsM151 commented on #31
This looks like out of the box functionality.

[2018-03-25 06:16] TKsM151 commented on #33
I put the latest on the DO box using the wiki syntax, they need addresses and stuff edited in. I can leave this open until finalized.

[2018-03-25 15:48] DEVxALMIGHTY opened #35 "User Story: User flair"
1. A user can have [0,1] flair shown at any given time. Though he may have multiple flairs assigned to his uid in the DB.
2. Only the following user flairs will exist [Founding Contributor, Forum Moderator, Site Moderator, Dealer]
3. As a way to say thank you for the volunteer effort on this project - it would be neat to give each volunteer a "user flair" on his account - **Founding Contributor**.

[2018-03-25 15:52] DEVxALMIGHTY commented on #35
This might better fit under a more general task "Implement user flair".

[2018-03-25 16:00] everlasted commented on #28
UPDATE: This has been completed, both on the DO box and on gundeals.io box. Total number of submitted posts ended up being closer to 3700 but they were eventually all loaded onto the site.

The gundeals.io box did not fetch thumbnails for each post, so the script may have to be re-run for that server.

[2018-03-25 16:04] DEVxALMIGHTY opened #36 "Test GitHub-Discord "issues" webhook"

[2018-03-25 16:06] DEVxALMIGHTY commented on #36
Testing comment on an "issue".

[2018-03-25 16:07] everlasted opened #37 "Allow submission of URLs with [, ], or | characters"
When submitting the old gundeals posts last night, I noticed there were a handful of links (maybe around 10 out of 3700?) that contained either `[`, `]`, or `|` characters, usually from longer URLs to like flyers or catalogs.

Postmill currently rejects these URLs as invalid and does not allow the user to submit them. While this is admittedly a rare case, it may be worthwhile to find where URL val

[2018-03-25 16:08] #36 closed

[2018-03-25 16:49] DEVxALMIGHTY commented on #14
As a way to say thank you for the volunteer effort on this project - it would be neat to give each volunteer a tag/flair on his account - **Founding Contributor**.

# Example
![image](https://user-images.githubusercontent.com/37675911/37876952-8ec5fbfe-3019-11e8-8a3c-fd62a97fdd7e.png)

This tag should only be granted to individuals who made consistent & valuable contributions to the initial launch

[2018-03-25 16:50] DEVxALMIGHTY commented on #35
Didn't notice story #14 - moving this there.

[2018-03-25 16:52] DEVxALMIGHTY commented on #37
Great catch & attention to detail here. Seems url-encoding the entire link is the way to go.

[2018-03-25 17:15] DEVxALMIGHTY commented on #35
Reopening -

It's a good idea to keep "user flair" separate from "submission flair" for the sake of task organization.

[2018-03-25 18:02] DEVxALMIGHTY opened #39 "Vet Jenkins plugins for code quality"
Code quality scan will kick off at each build. There are many Jenkins php plugins but I want to use one that shows results in Jenkins in the form of tables & charts.

Having immediate feedback on code quality helps devs to be accountable for their code. Also helps them to be mindful of th

Potential choices:
https://plugins.jenkins.io/cloverphp

[2018-03-25 19:05] DEVxALMIGHTY opened #40 "Improve navigation on legal pages"
The legal pages are currently a wall of text.

Improve user-friendliness & navigation by:
breaking up sections with horizontal rule
create section on right-side containing links. Clicking  link should result in the webpage jumping to the appropriate section. For example, clicking "How Does RGUNDEALS Use My Information?" should result in that section appearing at top of webpage as seen in below scr

[2018-03-25 19:16] TKsM151 commented on #40
We are leveraging the existing wiki setup to make these pages for now.
That uses a scripting language -- So "## Heading2" renders the header.

To do a side bar you could have to either override that and extend it or write some JS loop to go through the content and a name tag to the H1s and H2s to make the side bar. Kinda hacky.

Otherwise we could pop out of the wiki and code it up manually on its

[2018-03-25 20:30] DEVxALMIGHTY opened #41 "Improve/Simplify deal submission"
1. Select flair, also gives a nice description of flair (description can be removed from mobile)
2. Give price or pecentage (ezpz)
3. Describe the product (what you want)
From there the website will create a title based on this information. The example I gave would set the title as:
[Handgun] $3.50 - Glork 1911 - includes 2 clips and laser/light combo

# Example
![image](https://user-images.github

[2018-03-25 20:40] psineur commented on #41
Please use https://github.com/TheRealGD/therealgd/blob/develop/docs/overrides.md
Price is sale forum specific, overrides may allow choose which forums this applies from the box, but even if not - it will make it easier to separate sale/non-sale UI later

[2018-03-25 20:44] psineur commented on #17
https://github.com/TheRealGD/therealgd/blob/0a68211fa877c1dc8ce6d1ef45845f68d66ca8f4/templates/_includes/site_tracking.html.twig#L8

this is not implemented yet fully - we need to pass tracking from config/env.

@zoidbergjesus you're on it.
Please accept org invite on https://github.com/orgs/TheRealGD and assign yourself to this issue.
Thank You!

[2018-03-25 20:52] psineur opened #42 "Document prod/dev/test non-local DB creation"
Still holding more or less in memory how I setup RDS on Friday.
But here are some links I used just in case:

https://www.postgresql.org/docs/9.0/static/sql-alterdefaultprivileges.html
https://www.postgresql.org/docs/9.1/static/sql-alterdatabase.html
https://www.postgresql.org/docs/current/static/sql-grant.html#SQL-GRANT-DESCRIPTION-OBJECTS

https://dba.stackexchange.com/questions/117109/how-to-ma

[2018-03-25 20:52] psineur commented on #42
On it

[2018-03-25 21:00] psineur opened #44 "Update gddev to last state of repo"
Subj. So people can see where we are from outside without knowing DO box IP.

[2018-03-25 21:08] psineur commented on #44
blocked by #18 not like blocked-blocked, but like don't update until http->https works ok

[2018-03-25 21:09] NathanDeckinga commented on #6
@psineur  - Sorry for the delay, I was unreachable the past 2 days.  I'm 100% good with an AWS solution like that.  I've used it before and it works well with minimal setup and maintenance.  My one caveat is that the goal was to not use AWS specific stuff, and that's AWS specific.  It's also not a decision that I felt okay to make without application development support.

[2018-03-25 21:28] DEVxALMIGHTY commented on #35
@nautbot Updated user story to contain "Dealer" user flair.

[2018-03-25 21:31] psineur opened #45 "Triage Board"
- nautbot is essential
- nautbot functionalities are v1, the rest aren't as critical to site experience +1
- price/forum helper have not been a problem for people on r/gundeals for years
- moderation transparency right after all critical v1
- Post limit and blacklist are def first launch requirements

[2018-03-25 22:40] DEVxALMIGHTY opened #46 "Bug: Selecting 'GD theme' makes some text unreadable"
When selecting "GD theme" in user settings when on night mode, some text disappears.
I'm guessing you need to change text color from black

![image](https://user-images.githubusercontent.com/37675911/37880797-69df4612-3053-11e8-8016-fa3e1c54d169.png)

[2018-03-25 23:51] nautbot opened #47 "User Bug Reporting"
Form or something where users can report bugs/website issues.  Could dump reports into a private forum or something.

Same functionality could apply for user feature requests, account issues, legal inquiries, etc. categories.

[2018-03-25 23:56] nautbot opened #48 "User Feature Requests"
Same idea as ticket #47

Form or something where users can request new features.  Could dump reports into a private forum or something that we can ignore until past launch.

Same functionality could apply for user account issues, legal inquiries, etc. categories.

[2018-03-26 00:00] psineur commented on #42
CREATE DATABASE therealgd_test;
CREATE ROLE gundealstest WITH LOGIN PASSWORD 'passfortestuser'
ALTER DATABASE therealgd_test OWNER TO gundealstest;

was enough to create test db and start playing with it

[2018-03-26 00:28] DEVxALMIGHTY commented on #29
Unit tests are now executed as part of Jenkins build via phpunit. The tests currently fail due to not being connected to test DB.

Test DBs are being configured.

[2018-03-26 00:29] DEVxALMIGHTY commented on #42
Task #29 is dependent on this. I'm waiting on db connection string.

[2018-03-26 00:50] TKsM151 commented on #17
also, PM me in discord some Gmail addresses to add to the analytics platform

[2018-03-26 01:00] DEVxALMIGHTY commented on #29
Installed [clover php plugin](https://wiki.jenkins.io/display/JENKINS/Clover+PHP+Plugin) for Jenkins so we can see unit test results for each build.

![image](https://user-images.githubusercontent.com/37675911/37882250-1dde1838-3067-11e8-907c-fd4c10d75ffb.png)

[2018-03-26 01:04] DEVxALMIGHTY commented on #17
I'm having a look around @ Google Analytics now - I'm blown away. Soo much valuable data here ... well, there will be once we actually get some real users.

[2018-03-26 01:30] DEVxALMIGHTY opened #50 "Install code quality tool and conduct scans @ Jenkins build"
I'm looking inton [PHP mess detector](https://phpmd.org) as it offers the following:

It takes a given PHP source code base and look for several potential problems within that source. These problems can be things like:

- Possible bugs
- Suboptimal code
- Overcomplicated expressions
- Unused parameters, methods, properties

[2018-03-26 01:36] DEVxALMIGHTY opened #51 "Generate Git tag @ Jenkins release build"
Generate a tag in the Git repo @ Jenkins release build.

[2018-03-26 01:37] TKsM151 commented on #46
Ah this is a crap testing artifact on my dev box, ill remove it

[2018-03-26 01:38] DEVxALMIGHTY commented on #46
I've assigned it to @TKsM151

You can close it when you're confident its fixed.

[2018-03-26 01:55] TKsM151 commented on #46
Removed custom theme from db

[2018-03-26 01:55] #46 closed

[2018-03-26 03:10] psineur commented on #34
Done, peak:
17% CPU
<1.5ms write delay

Creating 10K users with 12 threads from t2.medium box, using fixtures in src/Fixtures (see pull request)

[2018-03-26 03:33] DEVxALMIGHTY commented on #47
Might be used to put "Feedback" link at bottom of page as shown below.

![image](https://user-images.githubusercontent.com/37675911/37885743-951cb96c-307c-11e8-9901-e60b19c6b581.png)

[2018-03-26 04:04] psineur commented on #47
There are number of SaaS sites that offer this. Some might be free

[2018-03-26 04:05] psineur commented on #47
https://www.getapp.com/s/user-feedback-saas

[2018-03-26 04:55] psineur commented on #31
Feel free to close this if it's how it works

[2018-03-26 05:02] psineur commented on #29
That includes a lot of non-app code, looks like

[2018-03-26 06:39] 12462940548 opened #53 "Attempting to view user comment history results in application 500 error: "undefined method""
When attempting to view a user's comment history, the application responds with a 500 error. This condition exists regardless of the user's authentication state.

These are the errors received from the application when invoking that undefined method:
[code]

How to test:

1) browse to any existing user's comment page: http://dodev.infringethis.com:8000/user/Sam_Flynn/comments

2) experience 500 er

[2018-03-26 09:16] psineur commented on #42
Note: no need to redact this one - real usernames and passwords are removed

// Create Users
CREATE ROLE youwish_devuser WITH LOGIN PASSWORD 'oooh_heees_trying';
CREATE ROLE youwish_testuser WITH LOGIN PASSWORD 'oooh_heees_trying';
CREATE ROLE youwish_produser WITH LOGIN PASSWORD 'oooh_heees_trying';
CREATE ROLE youwish_prodadmin WITH LOGIN PASSWORD 'oooh_heees_trying';

// Give all other user's p

[2018-03-26 09:33] psineur opened #55 "Copy data from Staging / Prod to DevDBs"
so we have more data to test features/development against.

Since we're migrating anyway from one RDS to another - this needs to be done.

[2018-03-26 09:35] psineur commented on #42
task is kill

[2018-03-26 09:35] #42 closed

[2018-03-26 09:35] psineur commented on #42
see https://github.com/TheRealGD/therealgd/pull/54

[2018-03-26 09:36] psineur commented on #29
Unblocked on test DB url.

[2018-03-26 09:38] psineur commented on #55
We have RDS backups, but copy can be done through s3:
 - https://zaiste.net/backup_postgresql_to_amazon_s3/ - I have currently something similar but for RocksDB for my startup. Should be pretty simple to setup.
 - https://s3-backups.readthedocs.io/en/latest/

Stealing this from #6

[2018-03-26 11:02] psineur opened #56 "dev-db: migrate public schema to new_one or screw it"
Subj.

Migrating from old RDS - i had to use pg_dump+pg_restore from old, where schema used was 'public'.
Take a look at the DB and decide if this is something that needs fixing or not.

It's probably good idea to look at https://github.com/TheRealGD/therealgd/pull/54 first.

@NathanDeckinga plz self-assign when you accept invite to the org.

[2018-03-26 11:08] psineur commented on #6
Updated #54 , checked
 - [ ] Provide scripts or even straight automate copying data from Staging / Prod to DevDBs - so we have more data to test features/development against.

Task is kill

[2018-03-26 11:08] #6 closed

[2018-03-26 11:10] psineur commented on #34
Done on downscaled RDS as well.
Webie had much more CPU% than DB.

Task is kill

[2018-03-26 11:10] #34 closed

[2018-03-26 11:12] psineur commented on #34
Slightly modified https://github.com/TheRealGD/therealgd/tree/feature-dbfixtures-issue34 was used to do that.
 * uniqid
 * kill other Fixtures to avoid conflicts
 * kill predefined Users - use only generated to avoid conflicts
 * run with & 8 times to multi-thread a little bit

[2018-03-26 11:14] psineur commented on #13
And so [redacted] it is!
Task is kill!

[2018-03-26 11:14] #13 closed

[2018-03-26 11:15] psineur commented on #55
Learned how to do that - pull request is updated: #54
Task is kill

[2018-03-26 11:15] #55 closed

[2018-03-26 11:18] psineur commented on #53
Good issue for newcomer - comment that you're working on this and send a Pull Request

[2018-03-26 11:23] 12462940548 commented on #53
I don't know that I have the php experience to get this bug resolved in code, I am just logging it at this time so we can investigate further. It's possible it's environmental related, which I will try to discern.

[2018-03-26 13:14] NathanDeckinga commented on #56
I'm in.

[2018-03-26 13:51] DEVxALMIGHTY commented on #39
I'm looking into PHP mess detector as it offers the following:

It takes a given PHP source code base and look for several potential problems within that source. These problems can be things like:

Possible bugs
Suboptimal code
Overcomplicated expressions
Unused parameters, methods, properties

[2018-03-26 13:52] DEVxALMIGHTY commented on #50
Combining with #39 - they are the same task

[2018-03-26 13:52] #50 closed

[2018-03-26 13:53] DEVxALMIGHTY commented on #39
I've installed it to Jenkins box and can generate XML/HTML reports. I'm working on leveraging Jenkins HTML publisher to display the HTML.

@kudakeru We're still open to other options. Just wanted to see how Mess Detector would work.

[2018-03-26 14:01] DEVxALMIGHTY commented on #35
@nautbot community manager ?

perhaps this duty falls under **Site Moderator** user role.

[2018-03-26 14:08] DEVxALMIGHTY commented on #29
@psineur I will look into excluding the framework code from the unit-test (and code quality) scans. We only care about quality of the code we write (i.e. app code).

[2018-03-26 14:31] DEVxALMIGHTY opened #57 "Configure auto-deploy from Jenkins to DO box"
I will configure Jenkins build to put required content on @TKsM151 DO box to result in successful code deployment. An automated deployment process allows developers to focus more on dev-related tasks (writing code, fixing bugs) and allows Jenkins to handle ops tasks (deployment). It also ensures the same process is followed for each release whereas doing it manually leaves room for process obfusca

[2018-03-26 14:59] DEVxALMIGHTY commented on #12
Making separate issue for task "Configure optional auto-deploy to web server as part of Jenkins build"

See #57

[2018-03-26 16:55] kudakeru commented on #39
I think the project is going to be better served by a combination of PHPMD and PHP CodeSniffer for code quality tooling, with Clover doing reporting on code coverage for tests if we want that.

CodeSniffer covers the style/consistency tooling, and has extensions built in for Symfony which will be helpful. PHPMD has a range of "code smell" tests that will be helpful in minimizing bugs and identifyi

[2018-03-26 16:59] DEVxALMIGHTY commented on #39
Agreed.

We can keep Clover installed with the understanding that it has limited usefulness (snapshot of code coverage). I plan to complete configuration of PHPMD tonight and will start on Sniffer.

[2018-03-26 16:59] DEVxALMIGHTY commented on #57
@kudakeru What do you think of the above release pipeline?

Room for improvement ?

[2018-03-26 17:06] kudakeru commented on #57
I think once we establish the pipeline and prove it out, we could even eliminate the manual deployment piece, at least for pre-prod. We may still want to manually trigger production, at least for a while. As a high level view of the pipeline process, this looks good. I'd like to flesh out some of the specifics.

Do we have a written PR process? Something that defines how we want them to be structu

[2018-03-26 17:30] DEVxALMIGHTY commented on #57
Some thoughtful feedback here - thank you! I'll try to touch on each point you raised.

I am open to considering autodeploy for pre-prod - I'd like to get dev team perspective as they are the main stakeholders. However, autodeploy to PROD is off the table for now - its too risky for an unproven dev team. In fact, I'd like to restrict the PROD deployment to manual and only through a Jenkins release

[2018-03-26 17:41] DEVxALMIGHTY opened #58 "Replace browser favicon with Piggo"
Replace browser favicon with Piggo. It's currently a rifle of some sort.

# Example 1
![image](https://user-images.githubusercontent.com/37675911/37922613-a1f1b2b6-30f2-11e8-9165-b699164c3834.png)

# Example 2
![image](https://user-images.githubusercontent.com/37675911/37922807-4138323c-30f3-11e8-8485-35515af69d1e.png)

[2018-03-26 18:12] TKsM151 commented on #57
Please keep auto deploy off for now on the prod instance, we do have master as a protected branch requiring approvals for now as a soft protection but having a disabled auto deploy is safer for now.
From a dev prospective we would keep the master branch as protected and enable auto deploy once the process is tested and development moving more smoothly, its pretty **choppy** here at the beginning t

[2018-03-26 18:22] DEVxALMIGHTY commented on #57
@TKsM151 100% agreed on no auto deploy in PROD for now.

Also, don't worry. Before I configured Jenkins auto-deploy in **ANY** environment, I'd communicate my intentions to the team and get buy-in. We will work closely together on this to make sure we are not causing issues in the midst of trying to establish a CICD pipeline.

As we discussed, we can work on configuring auto-deploy for the DO box

[2018-03-26 18:36] TKsM151 commented on #58
Self reminder: og:image needs fix too

[2018-03-26 18:38] DEVxALMIGHTY opened #59 "Navbar hover effect"
Improve end-user experience by implementing a mouse-hover effect on the site's navbar. When a user hovers over the boundary of a selectable item on the navbar, change color of the item. In the mockups shown below, the user is hovering over "Categories" item in the navbar.

Also, remove the hover:underline effect - it will be redundant after this feature is implemented.

This should be implemented

[2018-03-26 18:40] DEVxALMIGHTY commented on #59
Added to v3 but this should be trivial to implement in CSS. So it could realistically make v1.

[2018-03-26 19:03] TKsM151 commented on #47
What do you think of this: http://www.phpback.org/

[2018-03-26 19:12] TKsM151 commented on #47
I found this feedback app thats free, I like it - Free hosted SaaS: https://getfider.com/

Also I have used Typeform before too for more survey type deals -- just configure that and export the data to a CSV for analysis. https://www.typeform.com/

Also theres is a free installable app if we go that route. More setup though. http://www.phpback.org/

[2018-03-26 19:20] DEVxALMIGHTY commented on #47
@TKsM151 looking into these now to see which is best fit

[2018-03-26 19:22] DEVxALMIGHTY commented on #47
Fider has a neat upvote feature so we can gather community feedback. This is useful because it can ensure that features we implement are considered useful by the community as a whole - not just our team.

[2018-03-26 20:02] #51 closed

[2018-03-26 20:33] psineur commented on #56
@NathanDeckinga  https://github.com/TheRealGD/therealgd/invitations

[2018-03-26 20:40] NathanDeckinga commented on #56
That did it - I can now edit some things I couldn't previously.  Thanks.

[2018-03-26 21:28] DEVxALMIGHTY opened #60 "Write Jenkins script to create official GitHub release at release build"
Performing a Jenkins release build results in a tag being created in the GitHub repo. I will write a script executed during the Jenkins release process, to create an official GitHub release [here](https://github.com/TheRealGD/therealgd/releases). An official GitHub release contains detailed notes on the release including which features were implemented. This will help us to keep our releases organ

[2018-03-26 22:35] psineur opened #64 "Create infra/setup.sh for one-and-only setup required for fresh-box"
Maybe separate it from infra/install.sh that will do all apt-get installs, etc.

Assigning to @12462940548 & @protochron
12 is working on nginx + certbot setup
proto is on SSM / Creds feeding into php-fpm

Once we are good on this - having setup.sh will allow any developer to fix / restore / duplicate devBox.

I feel like this is pretty much one of the last steps of #12

[2018-03-26 22:44] TKsM151 commented on #58
Replaced with piggo, w transparency bg, also fixed og:image and added bunch of ios/android image metas

[2018-03-26 22:44] #58 closed

[2018-03-26 22:46] TKsM151 commented on #31
It is not how it works, just tested, but will remove the button on non-admin user end visibility and put a code check on the controller for admin. quick fix. Will do later tonight.

[2018-03-27 01:42] nationwide13 commented on #27
Feature implemented in https://github.com/TheRealGD/therealgd/pull/61

[2018-03-27 01:42] nationwide13 commented on #27
Bug: on /forums the submissions counter includes mod only submissions. Working on updating query

[2018-03-27 01:57] nautbot opened #66 "Bug: Query Exception/Syntax Error - Front Page "Subscribed" Sort"
Query exception thrown when using "subscribed" sort option on front page

![screen shot 2018-03-26 at 8 47 56 pm](https://user-images.githubusercontent.com/31225253/37942284-fdf1fa40-3137-11e8-85b3-037ce9f984f0.png)

![screen shot 2018-03-26 at 8 57 04 pm](https://user-images.githubusercontent.com/31225253/37942361-4aa6f6d8-3138-11e8-86c0-b9df9fefccb1.png)

[2018-03-27 02:03] nautbot opened #67 "Bug: non-Admin/Mod can make submissions to Mod forum"
"Mod forum" is available for non-Admin/Mod to create submissions:

![screen shot 2018-03-26 at 9 00 44 pm](https://user-images.githubusercontent.com/31225253/37942513-0c14a658-3139-11e8-9abf-7a7ce989f876.png)
 to:

[2018-03-27 02:16] nautbot opened #68 "License: Confirm placement of source attribution"
Use license for source code is incredibly permissive, just need to ensure placement of attribution to source author.

https://github.com/TheRealGD/therealgd/blob/develop/LICENSE

[2018-03-27 02:26] nautbot opened #69 "Bug: Mod forum visible to non-Admin/Mod from forum list"
Changing view to "Category view" in forum list makes Mod forum visible but not accessible to non-Admin/Mod:

![screen shot 2018-03-26 at 9 21 35 pm](https://user-images.githubusercontent.com/31225253/37943220-3ecf1760-313c-11e8-8942-f272e1173dc1.png)

(browse to "[domain]/forums/by_category")

[2018-03-27 02:28] DEVxALMIGHTY commented on #68
Would it be sufficient to just stick this "attribution" in the repo's README ?

[2018-03-27 02:34] #66 closed

[2018-03-27 02:44] TKsM151 commented on #31
Closed see comments in
/Security/Voter/TokenVoter.php

[2018-03-27 02:44] #31 closed

[2018-03-27 02:49] DEVxALMIGHTY commented on #60
Finished product.

![image](https://user-images.githubusercontent.com/37675911/37943985-8a8d01be-313f-11e8-9565-9160941671d0.png)

[2018-03-27 02:50] #60 closed

[2018-03-27 03:02] #37 closed

[2018-03-27 03:09] psineur commented on #59
ligther purple

[2018-03-27 03:11] psineur commented on #31
https://github.com/TheRealGD/therealgd/blob/5678c3122128aafe8bfdfdbf16a1f1340a29e9f5/src/Security/Voter/TokenVoter.php#L67

[2018-03-27 03:15] psineur commented on #64
TODO: add solution to #32 as well

[2018-03-27 03:19] NathanDeckinga commented on #56
Okay - I have your answer.  If all of the DBs look like therealgd_dev, then everything exists in the public schema and no user defined schemas exist.  It shouldn't hurt anything to leave everything in the public schema, but if you want to go full postgresql and have it in a user schema, that's relatively easy.  I see 22 tables - so the thing to do is alter the tables.  If it was any schema other t

[2018-03-27 03:42] nautbot opened #73 "Bug: Missing variable on submit"
Missing variable error on click of [Sumbit a new deal] button on front page.  Occurs with both admin and user accounts:

![screen shot 2018-03-26 at 10 37 17 pm](https://user-images.githubusercontent.com/31225253/37945674-e4855caa-3146-11e8-87a2-f5dfaa634935.png)

[2018-03-27 04:10] DEVxALMIGHTY commented on #57
I've configured auto deploy to the DO box tonight.

@TKsM151 Can you make a change on develop branch? This should trigger the Jenkins build, ssh the content to DO box and update the site.

# Result
![image](https://user-images.githubusercontent.com/37675911/37946298-5135ce36-314a-11e8-9e68-2c4529b5d25b.png)

[2018-03-27 04:16] DEVxALMIGHTY commented on #45
Which user story is this meant to portray ?

[2018-03-27 04:46] DEVxALMIGHTY opened #75 "Jenkins space improvement"
73% space usage on the Jenkins box as of now - need to grow.

@12462940548 Let's collab this week to increase storage or migrate to DO.

[2018-03-27 04:53] DEVxALMIGHTY commented on #57
Alright sftp via SSH now occurs as part of Jenkins build on DEV DO box!

# Current dev pipeline
1. Developer performs Git commit
2. Jenkins autodeploy
3. Developer manually restarts server to to see changes

Next step is to restart server during Jenkins build using
`bin/console server:start 159.65.243.54:8000`
Afterwards, process will be
1. Developer performs Git commit
2. Jenkins autodeploy
3. Af

[2018-03-27 05:03] nautbot opened #76 "Testing: Assemble alpha test team"
* Reach out to a few /r/gundeals regular contributors and users to form alpha test group;

* Educate on github basics if needed to submit "naked" issues to project;

* Convey MVP goals, ideation is not current focus;

* Dev team can categorize/assign as issues come in;

* Possible platform for real-time testing discussion (separate discord server?)

[2018-03-27 05:08] DEVxALMIGHTY commented on #76
Great idea naut!

Not sure how big of a group we want for the alpha - I'd say 50 or so. Maybe make post in r/GunDealsAnnouncements requesting participants  ?

A separate channel for discord is a must for the closed alpha. Just ensure that testers don't have access to project channels.

[2018-03-27 05:53] DEVxALMIGHTY commented on #76
Sounds like you have a gameplan - please keep us updated.

[2018-03-27 06:55] TKsM151 commented on #48
Added feedback SaaS and a little tab and footer link to it.

[2018-03-27 06:55] #48 closed

[2018-03-27 06:55] TKsM151 commented on #47
Added feedback SaaS and a little tab and footer link to it.

[2018-03-27 06:55] #47 closed

[2018-03-27 06:56] TKsM151 commented on #53
strange but just had to rewrite how the twig macro was being included , unknown origin

[2018-03-27 06:56] #53 closed

[2018-03-27 13:38] DEVxALMIGHTY commented on #68
There is already attribution at the bottom of the README. Assigned this task to myself and closing.

![image](https://user-images.githubusercontent.com/37675911/37970882-3591d68e-319a-11e8-98df-c1242b77bdd9.png)

[2018-03-27 13:39] #68 closed

[2018-03-27 13:55] nautbot opened #80 "Feature: Search Function"
Users may like the ability to search historical data to see where prices may have been on an items.  Category filtering will take care of most needs for seeing latest deals on specific category, so this can wait until much later imo

[2018-03-27 14:03] DEVxALMIGHTY commented on #57
It seems that the Jenkins "Publish Over SSH" plugin will not publish empty directories. This is a problem because successful deployment of app requires certain empty dirs on the server. For example, `/var/www/therealgd/translations/overrides` .

I'm investigating a solution.

[2018-03-27 14:10] nautbot opened #81 "Feature: Configurable Post Display Quantity"
As we don't have a "never ending" scroll feature (to my knowledge, anyways), may want to allow user to change number of submissions displayed per page via their [website]/user_settings/[username] page.  Obviously need an upper bound, maybe just a drop down with 25/50/100 if our servers can handle that load.

[2018-03-27 14:26] nautbot opened #82 "Perms: Change wiki creation/edit to mod/admin only"
For time being, wiki will be used for static community rules, and won't need user edits or the ability for users to create wiki pages.  Can change to configurable by community later on.

[2018-03-27 14:32] DEVxALMIGHTY opened #83 "Alternate (simpler) site favicon"
The site favicon has a bit too much going on and its hard to tell exactly what it is due to it small size. Piggo is cool but a more clean & simple favicon is in order. Below are a few mockups.

The one furthest right is closest to our current branding. I'm not sure what the font is currently in 'GUNDEALS' site header? @nautbot @psineur

This task might be within Semper's ability ?

We, of course,

[2018-03-27 14:35] DEVxALMIGHTY commented on #28
@everlasted  Is this issue resolved? Did you forget to close ?

[2018-03-27 15:21] nationwide13 commented on #73
This should be specific to my dev server (deals.exilednation). gundeals.io is currently waiting for the DB schema to be updated, not sure where else I can confirm

[2018-03-27 15:42] DEVxALMIGHTY opened #84 "Global announcement by admin"
# Requirements

1. For a site-wide/global announcement, it should appear on the landing page [see Picture 2].
2. The message should link to an announcement thread allowing user comment.
3. The message should appear like:

Where _nauticalmile_ is dynamic field representing name of Admin who posted the global announcment

4. These type of global announcements should only be allowed by Admin (not Mod

[2018-03-27 16:36] nationwide13 commented on #69
https://github.com/TheRealGD/therealgd/pull/85

[2018-03-27 16:37] #73 closed

[2018-03-27 16:38] DEVxALMIGHTY commented on #11
@ukyank can you provide an update here ?

[2018-03-27 17:03] #11 closed

[2018-03-27 17:04] DEVxALMIGHTY commented on #33
Waiting on completion of #11 - LLC establishment.

[2018-03-27 17:10] DEVxALMIGHTY commented on #17
Does this require any wiring on our end? Or does GA handle everything ?

[2018-03-27 17:20] TKsM151 commented on #17
Unaversal tags work as is with the basic tag.

There is more advanced shut we can do like gtm and custom events but that's future shut and would require some input from marketing types on where and how to target.

[2018-03-27 17:21] TKsM151 commented on #17
Sorry my spelling sucks

[2018-03-27 17:22] TKsM151 commented on #17
Also, server side stats you'd have to refer to one of the backend gus as to whats best, they can log and dump images to a page I think.

[2018-03-27 18:12] nationwide13 commented on #67
https://github.com/TheRealGD/therealgd/pull/72

[2018-03-27 18:28] nautbot opened #86 "Feature: Post/comment violation reporting"
Ability for users to report posts/comments that violate site/sub rules.  Add "Report" button on posts/comments:

![screen shot 2018-03-27 at 1 18 41 pm](https://user-images.githubusercontent.com/31225253/37986873-500259f8-31c2-11e8-8cef-ff1c801ceb80.png)

![screen shot 2018-03-27 at 1 18 54 pm](https://user-images.githubusercontent.com/31225253/37986878-5230f928-31c2-11e8-85de-76591f4a6aea.png)

"

[2018-03-27 19:36] DEVxALMIGHTY commented on #84
This task is for site-wide announcements which can only be performed by Site Mods.

Forum mods will also need ability to post announcements at a forum-level.

[2018-03-27 19:42] DEVxALMIGHTY opened #87 "Forum-wide announcements"
Forum mods need ability to publish announcements on a forum-level.

[2018-03-27 19:49] DEVxALMIGHTY opened #88 "Create content for post-launch announcment"
Create content for post-launch announcement. This content will appear on front page a la site-wide announcement [#84].

# Some topics to formally address at launch (i'm sure there are more):
1. Will you ever charge me to use GUNDEALS ? (leave room for 'gundeals brass')
2. Will dealers ever be pay-to-play ?
3. Who built the site ?
3. Can we donate ?
4. Can your infrastructure handle the demand ?
5.

[2018-03-27 20:15] DEVxALMIGHTY commented on #35
We possibly will want "Sponsor" flair to for accounts that pay a recurring fee to keep the site running. Discussion on "Sponsor" benefits can occur in the team Discord.

[2018-03-27 21:38] psineur commented on #83
Last one is the best.
Lets try it with Antique Olive font

[2018-03-27 21:44] psineur commented on #45
@DEVxALMIGHTY separate field for price instead of "- $99.99" in title
and
separate field for flair/forum instead of "[Ammo]..." in title

[2018-03-27 22:08] DEVxALMIGHTY commented on #83
Agreed last is best

Semper is learning in & outs of illustrator & will start work on this soon.

[2018-03-27 22:25] DEVxALMIGHTY opened #89 "Investigate Jenkins pipeline"
Duplicate current build functionality leveraging Jenkins "Pipeline" features.

Output from this task should be a Jenkins build that performs required steps using "Pipeline" features.

[2018-03-27 22:27] DEVxALMIGHTY opened #90 "Generate Jenkins build when branch created @ GitHub"
This may be available via Jenkins pipeline and tie into #89 .

Bonus: Would also be _really_ neat if Jenkins build was automatically deleted after GitHub PR was successfully fulfilled.

[2018-03-27 23:04] DEVxALMIGHTY commented on #57
There is a checkbox option to sftp empty dirs - completely missed it due to staying up past bedtime!

Tried it out and it worked on `/var/www/therealgd/translations/overrides` .

thanks @kudakeru !

[2018-03-27 23:11] DEVxALMIGHTY opened #91 ""Submit deal" page on "Deal" forums"
Currently user has to go to homepage in order to submit a deal. There should be a "Submit deal" button somewhere in the sidebar of each "Deal" forum.

![image](https://user-images.githubusercontent.com/37675911/37999802-21f809f4-31ea-11e8-9f23-0945ea4424c6.png)

[2018-03-28 01:02] TKsM151 commented on #33
Whats the status of #11?

[2018-03-28 01:04] psineur commented on #33
#11 is closed by @DEVxALMIGHTY

[2018-03-28 01:06] psineur commented on #91
Im taking this

[2018-03-28 01:09] psineur commented on #44
http->https redirect works - this is unblocked now

[2018-03-28 01:18] DEVxALMIGHTY commented on #33
sorry, reference wrong issue. Its pending completion of #10 , not 11.

[2018-03-28 02:15] psineur commented on #91
#92 needs review

[2018-03-28 02:25] psineur commented on #84
Site Mod = Admin, correct?

[2018-03-28 02:31] DEVxALMIGHTY commented on #84
@psineur Yes!

[2018-03-28 02:41] DEVxALMIGHTY opened #93 "Use Rsync to Sync with a Remote System"
Jenkins SSH plugin is slow as molasses. The entire Jenkins build process takes ~20 minutes with 19 of that being the sftp via SSH.

Investigate using rsync instead to dramatically reduce auto-deployment time.

help article: https://www.digitalocean.com/community/tutorials/how-to-use-rsync-to-sync-local-and-remote-directories-on-a-vps

[2018-03-28 02:50] #59 closed

[2018-03-28 02:55] TKsM151 opened #95 "Rules on sidebar"
Add rules for forum on side bar of deal pages

[2018-03-28 02:56] TKsM151 opened #96 "Rules on submission page"
Add rules for site on side bar of submission page

[2018-03-28 02:56] TKsM151 opened #97 "Fancybox for Feedback"
Make Feedback link a fancybox or slide out.

[2018-03-28 02:59] TKsM151 commented on #33
Ah, ok yea I just need the official docs.

[2018-03-28 03:01] DEVxALMIGHTY commented on #33
@nautbot is in process of establishing LLC
this will give us the data required to finalize legal docs
then @TKsM151 can add to site

[2018-03-28 03:35] #67 closed

[2018-03-28 04:20] TKsM151 opened #99 "Fix background colors on moblie and nightmode"
the banner colors are mismatched on mobile nightmode and green inbox clashes

[2018-03-28 04:21] #99 closed

[2018-03-28 04:36] TKsM151 commented on #44
Thanks for the help, the pgres db was restored  as well as images.

[2018-03-28 04:37] #44 closed

[2018-03-28 04:51] waitgain opened #101 "Change: Eliminate the "Return to/f/XDeals" link in the comment section"
If I click on comments on a deal from my front page, the comment page then reads "Return to /f/XDeals" which isn't where I came from. I arrived from the front page, not that particulate deal's subforum.

For example, if I'm on my home page I'll click on the comment section of, say, a handgun. However, the link to go back will read "return to /f/handguns" which isn't where I arrived from, so it isn

[2018-03-28 05:08] DEVxALMIGHTY commented on #93
Encountering issue when attempting to rsync a single file to remote: `Host key verification failed`.

Will continue investigating

[2018-03-28 05:19] waitgain opened #102 "Bug: "Submit" button in comment section abruptly drops below comment preview"
When leaving a comment, a preview is shown below the comment box. However, there's a slight delay between finishing my comment and the preview appearing, causing the submit button to abruptly "drop" below the preview. The submit button should remain static throughout the entire commenting process.

[2018-03-28 05:24] waitgain opened #103 "Feature: User inbox should retain comment replies after marked as "read". Also, Inbox icon should be shown at all times, not only when user has a notification"
I used another account to reply to a comment I made, and received the appropriate notification. However, once I marked it as read, the comment disappeared from existence.

I'd suggest being able to retain replies to user comments, albeit marked as "read" in the messages/envelope link under username.

[2018-03-28 05:28] waitgain opened #104 "Bug: Deleting a comment redirects user to that deal's subforum"
If I delete a comment in, say, a shotgun deal thread I get redirected to /f/ShotgunDeals, when I should not be redirected anywhere.

[2018-03-28 05:35] waitgain opened #105 "Bug: When posting a comment, I get redirected to a permalink of that comment"
When I submit a comment, I get redirected to seeing just my comment.
I.e. it says: "Viewing a single comment thread. View all comments" as soon as I submit

[2018-03-28 07:30] 12462940548 commented on #81
It would be great to downsize the deal post titles say, 25-30%.

That change should allow a more reasonable 6 or so posts to be viewable on a mobile device. Currently the size limits this to 4 viewable at a time before scrolling on mobile.

[2018-03-28 07:36] psineur commented on #101
Could be useful:

[code]

[2018-03-28 10:57] TKsM151 commented on #83
I will get the Vector project from the creator of Piggo so that Semper can check it out as well. so I added myself to this issue as well.

[2018-03-28 11:54] TKsM151 commented on #102
To solve for this I would have to move the button above the preview or just remove the preview all together from comments.

This is mainly a display for if you used the wiki syntax in your comment.

Let me know what you think would be the best solve

[2018-03-28 12:40] #56 closed

[2018-03-28 12:45] NathanDeckinga commented on #28
If we decide to do this again, can you holler at me so I can check DB stuff while the load is happening?  I would like to watch it live if possible.

[2018-03-28 12:51] TKsM151 commented on #69
Looks to be closed in #85

[2018-03-28 12:51] #69 closed

[2018-03-28 13:43] NathanDeckinga opened #110 "Feature: Backup and sync script"
We need a way to backup the production database and a way to migrate data from one environment to another.

Things to note:

* Needs to allow migration outside of AWS/RDS
* Will only be a full backup (no partials/single tables or incrementals)
* Will backup a single database at a time (as opposed to the snapshot doing the entire server)
* Will completely overwrite the destination DB (possible appl

[2018-03-28 15:31] DEVxALMIGHTY commented on #93
Last night made some progress but was being prompted by password @ Jenkins - of course, it's not possible to enter password this way.

Possible Solution: Tonight we will configured SSh server on the target machine to authenticate by private key - not password.

Next step after solution: Configure password for private key to increase security.

[2018-03-28 15:47] 12462940548 commented on #101
Yessssss, this is why my referrer security header changes were breaking everything.

[2018-03-28 16:47] DEVxALMIGHTY commented on #84
@nautbot agreed - updated user story to reflect this nomenclature.

[2018-03-28 18:35] DEVxALMIGHTY opened #111 "Change wording on deal submission button to "Submit Deal", making it less wordy"
Change wording on deal submission button to "Submit Deal" to make it less wordy

This button appeas in two places on the site:

1. landing page
2. deals forum

![image](https://user-images.githubusercontent.com/37675911/38049044-bc35deea-328c-11e8-8761-217d45055003.png)

[2018-03-28 19:11] waitgain commented on #102
See #issue-references (discord) screen cap - entitled "Github ticket #102"

[2018-03-28 19:16] waitgain opened #112 "Bug(s): Various issues when commenting"
1. When commenting and clicking "submit", user is auto redirected to just that singular comment thread within the deal.

2. When reaching that new page, a comment box appears then disappears in about a second.

3. When deleting comment, user is rerouted to that particular deal's subforum (in the example video, it is /f/AccessoryDeals).

This is in addition to the "floating submit" bug in ticket #

[2018-03-28 19:29] waitgain commented on #112
Just came across another: When replying to a child comment, I get 2 reply boxes.

Please see video "Ticket #112-B"

[2018-03-28 19:34] waitgain commented on #112
Another: When editing a comment, it redirects to a new page of just that comment.

Please see video "Ticket #112-C"

[2018-03-28 19:48] waitgain commented on #112
Another: Replying to a root comment isn't working. It is showing up as a root. comment, plus the OP is not getting a notification that I replied to him (Bartman in this case)

Please see video "Ticket #112-D"

[2018-03-28 19:51] waitgain commented on #103
I also noticed that I must manually click "clear inbox" for the envelope notification to go away. It should automatically be marked as read when I click my envelope.

[2018-03-28 20:46] DEVxALMIGHTY commented on #97
@jackmarketon Do you understand the requirements here ?

The user story could be much more descriptive.

[2018-03-28 21:20] nationwide13 opened #113 "Create user groups"
Ability to add groups
Ability to add users to a group

Admin only

Immediate use case: create a group for vendors for post limit purposes

[2018-03-28 21:21] jackmarketon commented on #113
Should groups be related to flairs at all?

[2018-03-28 21:30] nationwide13 commented on #113
Ah I searched for groups, but not for flair. will close

[2018-03-28 21:30] #113 closed

[2018-03-28 21:35] psineur commented on #110
As long as it works within 1hr-2hr - it can be full backup.

  Yes, for manual I would like to be able to pick a DB to backup.

   Restore should be a manual thing, with backup right before it to special name/place - just in case restore source is bad.

Their snapshots come from the box, just let the thing work and while we're on AWS - let's use it as a first solution to DB management/restoration.

[2018-03-28 21:36] nationwide13 commented on #35
Assigning to myself as this is a pre-req for https://github.com/TheRealGD/therealgd/issues/19

Site Mods/Forum Mods flair will be handled/stored as is.

I'm going to build this out a UserGroup entity with support for a 1:1 (User:Group) relationship, a user may only have 1 group.

This will let Mods and Admins carry multiple flair, but everyone else will be restricted to 1.

If we want to expand th

[2018-03-28 21:40] waitgain opened #114 "Bug: Editing my post redirects (back) to original submission form"
When I edit the text associated with my post, it redirects to the submission screen. Shouldn't it just allow to edit text without a redirect?

Please see video "Ticket #11"

[2018-03-28 21:47] waitgain commented on #103
I'd also suggest having the inbox/messages icon around at all times, and not only when a user has a notification.

[2018-03-28 22:14] psineur commented on #114
I think this is how it supposed to be without ajax-style edit.

@waitgain @DEVxALMIGHTY @nautbot @TKsM151  Opinions?

If everybody's fine with how it is - let's close it. If not - this is like v6 - Fancy UI - Improvements
and i'll put it in the backlog

[2018-03-28 22:16] waitgain commented on #114
I was thinking it's consistent with the commenting issue which also redirects to a permalink of that comment.

In this particular instance regarding post editing, it's not a huge deal, but I just think it's cleaner when there are unnecessary redirects.

[2018-03-28 22:33] nautbot opened #115 "Planning: Create Application Key Feature List"
Add to project wiki

[2018-03-28 22:41] nautbot opened #116 "Feature: Mod/Admin Stickied Comments"
Allow mods/admins to create stickied root-level comment(s) underneath submissions.  Stickied comment is bound to top of comment section.  Possibly add a sticky/unsticky comment function below body?

![screen shot 2018-03-28 at 5 38 27 pm](https://user-images.githubusercontent.com/31225253/38060118-f2959bd4-32ae-11e8-91bd-61db562bb208.png)

Reddit allows one stickied root-level comment, assigned af

[2018-03-28 22:43] Bartman383 opened #117 "Bug: Clicking on deleted Post Links"
![image](https://user-images.githubusercontent.com/37676219/38060187-4780c4fc-32af-11e8-8317-73191c7f15f5.png)

Clicking on a link to a deleted post returns

App\Entity\Submission object not found by the @Entity annotation. The expression "repository.findOneBy({forum: forum, id: submission_id})" returned null

[2018-03-29 00:03] waitgain opened #118 "Bug(s): Issues when submitting a deal"
1. When I paste the URL (in this case for Palmetto State Armory), the title auto fills. I'd rather it be like reddit where it gives the option for "use suggested title" and not just auto fill.

2. If user accidentally submits without choosing a subforum, the correct subforum can no longer be chosen. The dropdown keeps saying "choose one"

Please see video "Ticket #118"

[2018-03-29 00:43] psineur commented on #103
@waitgain please open two separate issues for this and mention them here

[2018-03-29 00:44] psineur opened #119 "Better CSS/UI for Read vs Unread Notifications"
Subj. See commit referencing this issue for info (will be there in few)

[2018-03-29 01:01] psineur opened #120 "Auto-Mark Notifications as Read"
Suggested by @waitgain

I think it's backlog worthy - v3
IMHO it's time we start locking up v1 Milestone  @nautbot @DEVxALMIGHTY

[2018-03-29 01:02] psineur opened #121 "Always show inbox link"
I'd also suggest having the inbox/messages icon around at all times, and not only when a user has a notification.

[2018-03-29 01:02] psineur commented on #103
Closed in https://github.com/TheRealGD/therealgd/pull/108

Opening 2 new suggested issues:
#120
#121

[2018-03-29 01:02] #103 closed

[2018-03-29 01:11] TKsM151 commented on #105
Steps To Replicate #104
-Find thread with no other comments, click Comment, leave comment and delete your own comment when its the only comment on the thread.
-Does not replicate if Admin deletes a non admin last comment.

[2018-03-29 01:11] psineur commented on #118
Moving 2) to separate issue that needs immediate attention

[2018-03-29 01:11] TKsM151 commented on #104
TEst comment on #104

[2018-03-29 01:12] psineur opened #122 "Can't submit if tried to submit without subforum."
Let's fix this quick with vanilla JS.

[2018-03-29 01:14] psineur commented on #122
Anyone assigned - feel free to un-assign yourself if you can't help on this or remove other assignees if you're taking this right now

[2018-03-29 01:15] psineur commented on #118
This issue still needs triaging for 1)

[2018-03-29 01:16] psineur commented on #117
need 404 instead

[2018-03-29 01:37] #104 closed

[2018-03-29 01:48] DEVxALMIGHTY commented on #93
Can now rsync - build & deploy time has decreased from 20 mins to under 5 seconds.

**MAJOR IMPROVEMENT - BIG WIN!**

[2018-03-29 01:58] DEVxALMIGHTY commented on #57
This is starting to overlap with #93 to the point of redundancy - closing.

[2018-03-29 01:58] #57 closed

[2018-03-29 02:21] DEVxALMIGHTY commented on #93
According to @TKsM151 we don't need to restart the app server.  The app server will serve up automatically.

DONE!

[2018-03-29 02:21] #93 closed

[2018-03-29 03:05] #122 closed

[2018-03-29 03:08] #111 closed

[2018-03-29 03:33] DEVxALMIGHTY commented on #29
I haven't forgotten about this - I'm working on it now.

First order of business is to get connected to Test DB.

[2018-03-29 03:56] TKsM151 commented on #102
Made it go back to the referrer isntead. It is good UX practice to drill back through bread crumbs

[2018-03-29 03:56] #102 closed

[2018-03-29 03:58] #121 closed

[2018-03-29 15:30] DEVxALMIGHTY commented on #120
@psineur @nautbot @TKsM151 Agreed.

Let's triage @ #pm_projectlead and have a look at the current work items for v1. Then prioritize as required.

[2018-03-29 17:57] DEVxALMIGHTY opened #127 "Clean up Jenkins build config"
Remove hostname from build config - set as Jenkins global env var

Remove redundant "exclude" from rsync for .git

Both are easy fixes

[2018-03-29 19:22] nationwide13 commented on #27
closing now that https://github.com/TheRealGD/therealgd/pull/85 is merged

[2018-03-29 19:22] #27 closed

[2018-03-29 20:19] DEVxALMIGHTY commented on #14
Consider allowing a post to have [0, many] flairs. The only time this would be applicable is on gundeals forum where we may want to, with the intention of full end-user transparency, clearly indicate a deal as being "SPONSORED". This is only applicable should we choose to migrate from donation-based to dealer-subscription model ("GUNDEALS Brass").

In the case of a sponsored deal, the post title m

[2018-03-29 21:32] nautbot opened #128 "Bug: Twig Runtime Errors While Starting/Committing Comment Replies"
Receiving twig errors on most attempts to create a reply (on click of "Reply" on parent comment) as well as seemingly all attempts to commit/save.  When the error is received on commit/save, I can step back in the browser and refresh, and the comment will be displayed.

![screen shot 2018-03-29 at 4 24 59 pm](https://user-images.githubusercontent.com/31225253/38114479-1ce6f4ea-336e-11e8-8315-54e24

[2018-03-29 21:45] nautbot opened #129 "Bug: SQL statement exception thrown on inbox "Mark All As Read""
Using the "Mark All As Read" button on user message inbox throws a SQL exception:

![image](https://user-images.githubusercontent.com/31225253/38115103-81908274-3370-11e8-9d60-a620987a9648.png)

![image](https://user-images.githubusercontent.com/31225253/38115121-8bf94a66-3370-11e8-9564-dab3f08af97a.png)

[2018-03-29 22:36] Bartman383 opened #130 "Mobile options on comments not working"
@TKsM151

Only "reply" works on mobile when responding to comments.  All the others return this

![](https://cdn.discordapp.com/attachments/428341913540755457/429044812277350410/Screenshot_20180329-172945.png)
#

[2018-03-29 22:48] DEVxALMIGHTY commented on #130
Good catch. I see it in browser too.

![image](https://user-images.githubusercontent.com/37675911/38117192-4d9b8046-3379-11e8-85e6-b1abdbd279b2.png)

[2018-03-30 02:56] jpleger commented on #20
Couple starting points:
1) Chrome headless is pretty sweet, you can use puppeteer to drive the browser.
https://github.com/GoogleChrome/puppeteer

2) If you crawl the frontier and create a HAR file, you can do a bunch of post processing:
https://www.npmjs.com/package/chrome-har

3) PhantomJS is another option:
http://phantomjs.org/network-monitoring.html

[2018-03-30 03:25] #101 closed

[2018-03-30 03:25] #130 closed

[2018-03-30 03:45] #128 closed

[2018-03-30 03:53] nationwide13 commented on #35
PR has been merged

[2018-03-30 03:53] #35 closed

[2018-03-30 03:54] nationwide13 commented on #35
Adding usage info from PR:

User groups have the following info:
Name: Friendly name (Vendors)
NormalizedName: name all lower cased (vendors)
Title: Friendly Title (Vendor)
DisplayTitle: a T/F flag

If the DisplayTitle flag is set, any post/comment a user in this group makes will be flagged with the Title next to their name.
The title is wrapped in a element with the class set to the NormalizedNam

[2018-03-30 04:00] nationwide13 commented on #20
I'm working on https://github.com/TheRealGD/therealgd/issues/19

This will be my priority after that, and the work done on https://github.com/TheRealGD/therealgd/issues/19 will have a bit of carry over

Is there any reason we'd need to pull this out of the application?

PHP cURL can get the final URL as well as pull the dom into an object we can search for the deep blacklist items.

We can do this

[2018-03-30 04:08] waitgain opened #133 "Feature/Bug: When editing a comment, user should not be redirected to a new screen. When edited comment is submitted, a comment box briefly appears then disappears."
When I click to edit a comment, I am: 1) brought to a separate screen and 2) when finished editing, I remain on that separate screen.

I think editing should all be done within the comment thread without any redirects.

3) Please also note (at the end of the screen cap) the brief appearance and disappearance of a comment reply box after I click submit to my edited comment.

Please see video "Ticke

[2018-03-30 04:16] waitgain opened #134 "Bug: Brief appearance and disappearance of comment text box when clicking either "parent" or "permalink""
When I click on either "parent" or "permalink" in a thread, comment boxes pop up then quickly disappear.

Please see video "Ticket #134"

[2018-03-30 04:28] #82 closed

[2018-03-30 04:52] waitgain opened #136 "Bug: Downvoted post is listed above newer post with no downvotes"
Semper's Harbor Freight post had -2 and I posted a new deal, yet his was still placed above mine.
![screen shot 2018-03-30 at 12 51 42 am](https://user-images.githubusercontent.com/37857515/38125048-8abf9c4c-33b4-11e8-814b-fc282d425e8c.png)

[2018-03-30 04:52] waitgain commented on #136
Note the time stamps.

[2018-03-30 06:28] psineur commented on #129
Fixed in https://github.com/TheRealGD/therealgd/commit/46fc9a94c4edf16e8db5dcc5942a92f9412a21e6

[2018-03-30 06:28] #129 closed

[2018-03-30 06:51] jpleger commented on #20
I wouldn't put a ton of effort into pulling in and parsing the DOM in php, most modern redirectors that are doing sketchy stuff are using JS and a few other techniques. If your only looking for 302s then the CURL method is fine, but if you are doing anything more advanced, definitely will need render the pages in a real browser.

If you can pull the list of requests, its super easy to check agains

[2018-03-30 07:06] #64 closed

[2018-03-30 15:04] nationwide13 commented on #20
@jplegee makes a good point. I don't think deep blacklisting can happen at time of posting.

I propose we break this into the following tasks:

1. Shallow blacklist - assign me (this includes admin/mod config)
2. Create XML/JSON feed of new posts that need deep blacklist checking - assign me
3. Deep blacklist - do we have anyone that can handle this? One of our scripting gurus?

[2018-03-30 15:39] DEVxALMIGHTY opened #138 "Admin promotion"
Admin should be able to assign existing user to admin role through webapp. Currently, back-end DB must be updated to promote user to admin.

I'm assigning this to v3 due to the likelihood of needing this being very low - we will have 4-5 mods to start with. Should the need arise to add another, we have the aforementioned back-end process.

[2018-03-30 17:16] TKsM151 commented on #138
Wasnt marked closed, please test then close

[2018-03-30 17:33] DEVxALMIGHTY opened #139 "Change Group modification submit button text to "Save Changes" from "Edit"."
For the sake of clarity & consistency, change Group modification submit button text to "Save Changes" from "Edit".

# Change this
![image](https://user-images.githubusercontent.com/37675911/38147054-3fef90ca-3416-11e8-835f-453708f8e4af.png)

# To this
![image](https://user-images.githubusercontent.com/37675911/38147084-63bea73e-3416-11e8-8a5a-6043c397aaa0.png)

[2018-03-30 17:33] #127 closed

[2018-03-30 17:43] DEVxALMIGHTY opened #140 "Deactivate account"
User should be able to deactivate account from webapp.

![image](https://user-images.githubusercontent.com/37675911/38147422-dafbedec-3417-11e8-8452-9d3e10ec4bcf.png)

[2018-03-30 18:10] DEVxALMIGHTY commented on #84
Some additional details here due to recent misunderstanding ...

The announcement needs to link to a submission on the "Announcements" Forum. See below screenshot for visual aid.

Announcement header: Global header content goes here. This will appear as header on front page.
Announcement title: Announcement title. This will be the title of the post created in “Announcements Forum”.
Global Announce

[2018-03-30 19:31] DEVxALMIGHTY opened #141 "Navbar dropdown on hover instead of click"
Have navbar's drop down menu show on hover rather than having to click.

![image](https://user-images.githubusercontent.com/37675911/38150960-f54c655a-3426-11e8-95e8-d99811b5a46b.png)

[2018-03-30 19:32] DEVxALMIGHTY commented on #138
@TKsM151 Are you saying that this feature exists and needs testing ? What are the test cases ?

[2018-03-31 00:24] psineur commented on #134
Merged in #112

[2018-03-31 00:24] #134 closed

[2018-03-31 00:24] psineur commented on #133
Dupe of #114 and #112

[2018-03-31 00:24] #133 closed

[2018-03-31 00:39] psineur commented on #136
We need to test "Hot" sort better - if it doesn't work at all - something should be done.
Minimal: it should be removed from the front-end
Ideally: it should be fixed - YC or reddit algo can be used if full-implementation is needed

[2018-03-31 00:41] psineur commented on #118
1) merge to #112
2) is separate issue - #122

Closed

[2018-03-31 00:41] #118 closed

[2018-03-31 00:41] psineur commented on #112
Merged #118 - When I paste the URL (in this case for Palmetto State Armory), the title auto fills. I'd rather it be like reddit where it gives the option for "use suggested title" and not just auto fill.

[2018-03-31 00:42] psineur commented on #112
TODO: all merged issues need to be described in OP of this issue and deleted as comments to simplify further discussion

[2018-03-31 02:39] TKsM151 commented on #117
404s are the red pages by defauly in ENV=DEV, once switched to ENV=PROD the custom error page will display. See the custom error page here:

http://dodev.infringethis.com:8000/_error/404.twig

[2018-03-31 02:55] nautbot opened #143 "Feature: Shallow Blacklisting"
Implement shallow submission URL blacklisting as described in #20 with admin and mod configuration

[2018-03-31 02:57] nautbot opened #144 "Feature: XML/JSON Submission Feed for Deep Blacklist Consumption"
Create XML/JSON feed of new posts that need deep blacklist checking as described in #20

[2018-03-31 03:00] nautbot opened #145 "Feature: Deep Blacklisting"
Develop deep blacklisting job/script to consume and process XML/JSON feed created in #144 per undetermined technique

Reference issue #20 for original /u/nautbot functionality

[2018-03-31 03:01] #20 closed

[2018-03-31 03:51] danielgsims commented on #141
You probably want expand on hover in addition to click so that it works on touch devices or with keyboard usage. I'll take a peak at this.

[2018-03-31 04:08] danielgsims commented on #141
For testing, this also effects the user drop down in the top right

[2018-03-31 04:27] danielgsims commented on #139
This was in the translations file, so it's updated for all buttons site-wide that used the phrase "Edit"

[2018-03-31 11:59] danielgsims commented on #140
I started looking into this one this morning. What do we want to happen when a user deactivates their account?

  * Should a user be able to reactive their account?
  * Should a user be able to create a new account using that same e-mail address?
  * Do we want old user names to show up as [deleted]
  * Do we want their profile to be deleted as well and return a 404?
  * Do we want to keep all of

[2018-03-31 12:00] danielgsims commented on #139
Sorry, I should have used the fixes reference, but this one was fixed by #147 147.

[2018-03-31 12:00] danielgsims commented on #141
Fixed by #146

[2018-03-31 15:29] #141 closed

[2018-03-31 15:35] #139 closed

[2018-03-31 16:13] danielgsims commented on #116
I'm digging into this one.

[2018-03-31 16:27] nautbot opened #148 "Feature: Evaluate/Revise Submission Ranking Algorithms"
Evaluate existing submission ranking algorithms, determine new or otherwise available replacements.

-----

### "Hot" Submissions

Review Submission entity's updateRanking() function: https://github.com/TheRealGD/therealgd/blob/develop/src/Entity/Submission.php

The XKCD "Hot" algorithm may be suitable replacement or starting point given lower voting activity (typically <1500 votes per submission)

[2018-04-01 00:58] danielgsims commented on #136
Here's where the ranking is set: https://github.com/TheRealGD/therealgd/blob/develop/src/Entity/Submission.php#L327-L340

Almost any time the submission is updated, they had the entity recalculate it's ranking score so that the submissions can be indexed by rankings. Unfortunately, it means migrating every submission when tweaking the ranking algorithm.

[2018-04-03 14:00] DEVxALMIGHTY commented on #84
@tstiegler the announcements look good to me! Can you close this task ?

[2018-04-03 14:07] #84 closed

[2018-04-04 15:54] DEVxALMIGHTY opened #159 "OOS deal flair"
Implement progressive score penalty for deals marked as OOS by users.

Will need to modify score formula.

[2018-04-04 23:32] psineur commented on #116
@danielgsims please accept invite @ https://github.com/orgs/TheRealGD and assign yourself and then close it!

Awesome work!

[2018-04-05 02:18] nautbot opened #160 "User Story: Moderation Queue"
This user story is intended to cover functionality of the submission/comment reporting system and their interaction with the moderation queue in more detail.  This will cover both the general user-facing report function, as well as the moderator-facing moderation queue.

----

### User

When a user encounters an offending post or comment, they have the option to flag the item for moderator review

[2018-04-05 05:47] psineur commented on #28
I've loaded 86K users with Fixtures from t2.2xlarge PHP to t2.micro RDS test db - db took it like a champ <25% CPU, with <70 simultaneous connections.
PHP was maxing out on CPU.

I think we can close this now - our performance bottleneck is PHP and ORM, not DB

[2018-04-05 05:47] #28 closed

[2018-04-05 05:53] psineur opened #162 "Improve performance for Prod (prev. named "Cache on Nginx level before hitting PHP for reads")"
Front is heavy, Posts too I guess - adding something like 1min-2min cache can help us a lot, right?
Discuss?

[2018-04-05 05:58] psineur commented on #110
I'm thinking about creating a cron script on my mac that will

[code]

and closing this. @NathanDeckinga anything else we need or you want to do? SInce we alrady have RDS backups

[2018-04-05 06:01] psineur commented on #160
This needs to be minimized into MVP task:
1) report button
2) mod queue
3) approve/remove/spam buttons
anything else?

[2018-04-05 06:05] psineur commented on #136
I prefer New, but I'm pretty sure Hot is critical.
Assigned to naut and DEVX

[2018-04-05 06:08] psineur opened #163 "Use new docker hotness for Jenkins/CI"
./dev-local.sh
this will start a server, and run migrations against local pgsql (containerized)

@DEVxALMIGHTY please triage

[2018-04-05 06:10] psineur commented on #10
#12 is done, I'm ready to create prod instance at any moment.
Then we can:
 - [ ] copy legal pages from GitHub wiki to PM wiki once prod dB is established

[2018-04-05 06:11] psineur commented on #12
- [ ] how we store configuration (not in public repo lol)
- [ ] what boxes and where
- [ ] docker or no docker (I vote no docker, since it's PITA to develop code inside container)
- [ ] Configure optional auto-deploy to web server as part of Jenkins build

[2018-04-05 06:11] psineur commented on #12
Jenkins needs to update for docker - #163
Boom! :boom:

[2018-04-05 06:11] #12 closed

[2018-04-05 06:16] psineur opened #164 "Fix goddamn registration"
Have you tried signing up? ITS A PITA
Need to do something about it

[2018-04-05 06:19] psineur commented on #159
This needs re-triage to v1 v1.1 MVP+ or v3.

[2018-04-05 06:19] psineur commented on #159
v2 was tech-only stack/platform agnostic

[2018-04-05 06:19] psineur commented on #21
This needs re-triage to v1 v1.1 MVP+ or v3.
v2 was tech-only stack/platform agnostic

[2018-04-05 06:20] psineur commented on #97
This needs re-triage to v1 v1.1 MVP+ or v3.
v2 was tech-only stack/platform agnostic

[2018-04-05 06:20] psineur commented on #145
This needs re-triage to v1 v1.1 MVP+ or v3.
v2 was tech-only stack/platform agnostic

[2018-04-05 06:26] psineur commented on #17
I think our current gtag is good enough for v1.

[2018-04-05 06:26] #17 closed

[2018-04-05 06:26] psineur opened #165 "Improve analytics"
Do we need it in v3?

[2018-04-05 06:27] psineur commented on #17
#165 for future non-MVP analytics

[2018-04-05 06:30] psineur commented on #112
@jackmarketon
updateme: 3 days

[2018-04-05 06:39] psineur commented on #136
This is in progress now on triage board

[2018-04-05 06:41] psineur commented on #160
Also: https://github.com/TheRealGD/therealgd/wiki/Core-Product-Feature-List

[2018-04-05 12:58] NathanDeckinga commented on #110
It's actually more expensive and slower to go DB -> local then local -> S3.  But we should be talking about pennies difference over the month/year and gives us an offsite (your computer) immediately.  Go for it.

[2018-04-05 20:08] psineur commented on #8
This is closed in #152
#162 is probably last remaining piece of infra configuration for prod-ready

[2018-04-05 20:08] #8 closed

[2018-04-05 20:11] psineur opened #167 "Setup Mail for Account Registration/Recovery"
MAILER_URL param from SSM

[2018-04-07 19:49] nautbot opened #169 "Bug: Comment permalinks from user's profile are broken"
Clicking comment permalinks on user profiles is raising an error:

![image](https://user-images.githubusercontent.com/31225253/38459681-91210dea-3a72-11e8-887f-ac58304aa0ac.png)

![image](https://user-images.githubusercontent.com/31225253/38459688-a95c651c-3a72-11e8-84b0-a6e04c9fcd65.png)

[2018-04-07 20:05] nautbot opened #170 "Feature: Word filter for post title/body text + comment body text"
We knew it would come to this...

Implement word filter for post titles and body text, as well as comment body text.  Nothing crazy, mainly removal of racial slurs and what not.

A couple of external libraries to look at:

https://github.com/developerdino/ProfanityFilter

https://github.com/jcrowe206/BadWordFilter

@DEVxALMIGHTY Raised the concern of performance and user experience impact.

As far

[2018-04-08 01:56] DEVxALMIGHTY opened #171 "Bug: Commenting on post as admin"
## Commenting on a post with user having admin role as following:
![image](https://user-images.githubusercontent.com/37675911/38462079-b47e607a-3aa5-11e8-9b8e-0605a580f5ca.png)

## Yields this error:
![image](https://user-images.githubusercontent.com/37675911/38462081-cc5ad8f4-3aa5-11e8-8fe7-2ccf1c7d1fed.png)

## But the comment is added correctly:
![image](https://user-images.githubusercontent.co

[2018-04-08 04:31] nautbot opened #172 "Feature: Forum-Specific Wikis"
Current wiki is global to website - future on-boarding of other communities may require forum-specific wikis for community docs: expanded rules, guides, etc.

[2018-04-09 02:47] TKsM151 commented on #164
Whats wrong with it specifically?

[2018-04-09 02:50] TKsM151 commented on #171
Retested as described -- Appears to have been resolved with latest migrations on DODEV

[2018-04-09 02:50] #171 closed

[2018-04-09 02:50] TKsM151 commented on #169
Retested as described -- Appears to have been resolved with latest migrations on DODEV

[2018-04-09 02:50] #169 closed

[2018-04-09 02:53] TKsM151 commented on #117
Moving to closed, should see comment above about PROD vs DEV environment display of 404s for Symfony

[2018-04-09 02:53] #117 closed

[2018-04-09 16:49] nationwide13 commented on #19
PR has been opened https://github.com/TheRealGD/therealgd/pull/175

[2018-04-09 18:40] nationwide13 commented on #19
To use this:

Pre-Requisite: To add a rate limit, at least 1 User Group must exist. This requires Admin privileges and is in the admin menu. It's also ineffective if that group does not have any members.

Steps:
1. On the forum page there's a new option in the mod toolbox: Edit NautBot Settings
2. Select "Add a new rate limit"
3. Select the appropriate group
4. Set a rate
5. Save

Now if any membe

[2018-04-09 19:21] nautbot opened #176 "Architecture: Transition back to forum design intent"
We made an early design decision to use forums in place of product category flair (rifle/pistol/ammo/parts/etc.) to minimize new features and accelerate launch.  This decision has created additional complexity with new feature implementations (vendor rate limits had to be implemented site-wide, each individual category now has it's own "modmail". etc.), and precludes us from expansion to any other

[2018-04-10 00:57] psineur commented on #176
That will ba a pain to do after we have data, how much do we need to change now to make this work for v1?

[2018-04-11 00:04] psineur opened #180 "Create announcements forum in Migration"
Just to make it faster to create announcements on fresh install.

Migration should be something like CREATE IF COUNT == 0 WHERE forum.name= announcements
@NathanDeckinga suggestions what this SQL should be?

[2018-04-11 04:45] nautbot opened #181 "Feature: Username Mention Notifications"
Add notifications and inbox view for username mentions.

[2018-04-11 23:25] psineur commented on #164
password requirements are absurd, captcha sucks, also there's
"invalid field" or something like that when username is taken or password is too short, or what?
I don't even know - it's really hard to sign up, takes me usually like 2-3 tries.

- [ ] IMHO we can kill captcha first, and enable it if needed.
- [ ] password requriements need to just fucking go, abc, '123' - all acceptable, I don't give

[2018-04-11 23:30] psineur opened #182 "Doctrine Errors/Warnings on RateLimit"
You can open symfony debug thingy and see that:

App\Entity\UserGroup | The association App\Entity\UserGroup#rateLimits refers to the owning side field App\Entity\RateLimit#forum_id which does not exist.The association App\Entity\UserGroup#rateLimits is ordered by a foreign field forum_id that is not a field on the target entity App\Entity\RateLimit.
-- | --

App\Entity\Forum | The field App\Entit

[2018-04-11 23:39] NathanDeckinga commented on #180
Sounds good.  You should be covered with this then.

[2018-04-12 01:14] TKsM151 commented on #83
Generated new SVG with "GD" make new issue if needed for new design

[2018-04-12 01:14] #83 closed

[2018-04-13 13:43] tstiegler opened #186 "Excessive database calls for viewing submission"
Viewing submission with around 12 comments is doing between 43 and 44 database calls. As discussed with @psineur, this might be a little excessive.

Investigation needs to be done to find why this is happening.

[2018-04-13 15:42] nautbot opened #188 "Bug: User profile undefined method exception"
Receiving an undefined method exception when attempting to view any user profiles:

![image](https://user-images.githubusercontent.com/31225253/38744337-2a136708-3f07-11e8-88af-3c5a4304a283.png)

[2018-04-19 00:59] psineur opened #191 "Create simple cron job for Import-Reddit"
Use docker/nginx/Dockerfile and other files in there as an example - it uses cron to run https cert update, you can do the same a bit more regularly to run your command. Make sure that bin/console is included and it can be run from the containers cron. Or assign to me if you want me to do it

[2018-04-19 03:02] psineur opened #192 "Move thumbnails off the disk"
- [ ] Save link to the original url
- [ ] Render original if we haven't processed it yet successfully
- [ ] save to S3 instead of DB

[2018-04-19 03:04] psineur opened #193 "Schedule removal of old thumbs"
Subj, not important - follow up after https://github.com/TheRealGD/therealgd/issues/192
Maybe make it a configurable thing and delete posts with all it's data after some time.

[2018-04-19 03:06] psineur commented on #160
@tstiegler do we close this or are there any other things to be done?

[2018-04-19 20:34] psineur commented on #32
Not an issue anymore with docker setup

[2018-04-19 20:34] #32 closed

[2018-04-19 20:36] psineur commented on #162
adding varnish haven't affected stuff much, after playing with profilers and stuff - last thing to improve performance I'm going to do is to add autoloader cache, after that - just scale. We still need to make sure we enable cache for queries on APCu

For more info - look in the backend room

[2018-04-23 21:51] psineur opened #197 "setup cron for posts import"

[2018-04-23 21:52] psineur opened #198 "switch to f/gundeals - kill categories, change UI/translation names, test/fix nautbot/moderation tools"

[2018-04-24 04:10] TKsM151 commented on #197
checkout branch 197-setup-for-cron-posts-import /scripts/cron.sh is a primer for this if you want to use ENV variables

[2018-04-24 04:40] semper1371 opened #202 "Bug: Website erases text once fully loads"
So this is sorta weird, but when the page initially loads it seems like it gets stuck and doesn't load fully. You can navigate and type and all that, except when it "finishes" loading it erases any text.

Gif:
![houdinitext](https://user-images.githubusercontent.com/37851147/39166720-28bfd7b0-4759-11e8-90e0-21417d15460e.gif)

This is the error log:
![image](https://user-images.githubusercontent.co

[2018-04-25 02:03] psineur commented on #162
Pretty much done in https://github.com/TheRealGD/therealgd/pull/196 ...
Any further perf improvements should have their own issues.

[2018-04-25 02:03] #162 closed

[2018-04-25 03:44] #116 closed

[2018-04-25 03:51] psineur commented on #191
Merging  #197 here - it's dupe.
Will integrate, thank you!

[2018-04-25 03:51] psineur commented on #197
Dupe of #191.
Closed

[2018-04-25 03:51] #197 closed

[2018-04-25 03:53] psineur commented on #41
Dupe of #14
Closed

[2018-04-25 03:53] #41 closed

[2018-04-25 03:55] psineur commented on #14
Merging #41 here:

Maybe we will use overrides
https://github.com/TheRealGD/therealgd/blob/develop/docs/overrides.md

Prices and deals specific logic won't be here though. Just submission flair with descriptions

[2018-04-25 03:56] psineur commented on #138
This is not implemented as UI feature, and can be closed and UI task can be opened after we merge editUser command from #200

[2018-04-25 04:00] psineur commented on #188
verified as fixed

[2018-04-25 04:00] #188 closed

[2018-04-25 04:10] psineur commented on #163
IIRC this still needs some work, but I don't think it's v1 critical, so moving this to v3

[2018-04-25 04:13] psineur commented on #136
There's also something done in #200 IIRC on this. Should look at both before implementing

[2018-04-25 04:18] psineur commented on #96
Rules are ready, waiting for dev to implement this.
Self-assign if you're willing to help

[2018-04-25 04:44] psineur commented on #160
Merging #86 here, #170 is related

Currently there is UI for Reporting a submission with some typos in the UI.
Posting a report works, for both comment and submission. However they looks strange in /moderation_queue

Comment has voting, but doesn't show comment itself
Submission doesn't have voting buttons.

Approving /removing also affects whole submission, and never just comment - this needs jus

[2018-04-25 04:53] psineur commented on #86
Dupe of #160
Closed

[2018-04-25 04:53] #86 closed

[2018-04-25 05:09] psineur opened #203 "docker-compose: make nginx have public/build & other stuff independent from php container"
TLDR: if possible - nginx & php should be able to live on any host, together or separately.
I think for prod-builds we can move package.json, npm install, npm run build-prod & dependencies of that onto nginx container, without using volumes and let it work this way.

This is probably tightly coupled with #192 - need to investigate how exactly are they being served.
IIRC they are going through PHP.

[2018-04-25 05:10] psineur opened #204 "Setup docker-swarm && launch prod"
Blocked by #192, #203 and other v1-critical issues

[2018-04-25 22:54] psineur opened #207 "Allow moderators to create forum-wide announcements"
TLDR: subj

Expected Behavior:
- Sidebar for Mods has Create Forum Announcement
- Clicking it opens similar to Admin's Site-Wide Announcement
- Saving it creates announcement visible only in that forum

Actual Behaviour:
- no such option exists, although looks like it should be relatively simple to do

@tstiegler any pointers?

[2018-04-25 23:37] #180 closed

[2018-04-30 14:11] Bartman383 opened #209 "GLobal Ban gives Undefined Method Exception"
TLDR: Trying to global ban a user throws a Method Exception

Expected Behavior:  User should be global banned

Actual Behaviour:

Steps To Repro:

Links to Video/Gif/Screenshots (If Any):
![image](https://user-images.githubusercontent.com/37676219/39431435-530500b6-4c56-11e8-9c0d-80ff48832c64.png)

[2018-05-02 00:47] nautbot opened #210 "Bug: Fatal Error During Nautbot Rate Limit Creation"
TLDR:

Fatal error when attempting to create nautbot rate limit

Expected Behavior:

Presumably a rate limit creation/assignment screen

Actual Behaviour:

Internal server error as illustrated below

Steps To Repro:

Navigate to /f/Gundeals, "Edit NautBot Settings" from the sidebar, "Add New Rate Limit" button

Links to Video/Gif/Screenshots (If Any):

<img width="1475" alt="screen shot 2018-05-01

[2018-05-02 01:02] nautbot opened #211 "UX: Improve Comment Redirect Context"
TLDR:

Redirect to wider comment forest context after reply commit

Expected Behavior:

Once a user commits a reply, return them to the original context they arrived from (e.g. specific comment permalink, full comment tree, etc.) or at least something that doesn't "pull" them out of the overall conversation.

Of course we're not doing the AJAX stuff right now, but hopefully we can at least make th